.App{
  width: 98vw;
  min-height: 97vh;
  height: fit-content;
  background-color: seashell;
  padding: 10px;
}

.flex{
  display: flex;
}

.title{
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}