.background {
    background-color: seashell;
    padding: 10px;
    width: 98vw;
    min-height: 97vh;
    height: fit-content;
}

.returnButton {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
}

.image{
    max-height: 40vh;
    max-width: 90vw;
}

.connections{
    width: fit-content;
    min-width: 10cm;
    max-width: 90vw;
}