.listElement{
  padding: 5px;
  border: 1px grey solid;
  width: 250px;
  margin-left: -30px;
  margin-right: 5px;
}

.flex{
    display: flex;
}

.name{
    font-weight: bold;
    margin-right: 10px;
}

.type{
    font-style: italic;
    margin-right: 10px;
}